 <link rel="stylesheet" href="/css/chat/chat.css">

<div class="wrap">
    <div class="opponent">
        <div class="opponent-img">
            <img width="55" src="/img/user-photo/{{opponent.img}}" alt="">
        </div>
        <div class="opponent-name">
            <h2>{{opponent.name.firstName}} {{opponent.name.secondName}}</h2>
        </div>
        <div class="online">
            онлайн
        </div>
    </div>

    <div class="messages">
        <ul class="messages-cont">
            {{#each messages}}
                {{#if this.currentUser}}
                    <li class="message currentUser">
                        <div class="mes-body">
                            <div class="mes-text">
                                {{this.text}}
                            </div>
                            <div class="mes-datetime">
                                {{this.date}} {{this.time}}
                            </div>
                        </div>
                        <div class="mes-user-img">
                            <img width="50" height="50" src="/img/user-photo/{{this.img}}" alt="">
                        </div>
                    </li>
                {{else}}
                    <li class="message partner">
                        <div class="mes-user-img">
                            <img src="/img/user-photo/{{this.img}}" width="50" height="50" alt="">
                        </div>
                        <div class="mes-body">
                            <div class="mes-text">
                                {{this.text}}
                            </div>
                            <div class="mes-datetime">
                                {{this.date}} {{this.time}}
                            </div>
                        </div>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>

    <form class="message-form" action="">
        <input id="message-input" autocomplete="off"/>
        <button>
            <img width="30" src="/img/chat/right-arrow.svg"></img>
        </button>
    </form>
</div>

<script src="/js/chat/more-mes.js" charset="utf-8"></script>
<script src="/js/chat/auto-scroll.js" charset="utf-8"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var currentUserId = "{{{user._id}}}",
        countMessage  = {{countMessage}};
</script>
<script src="/js/chat/chat.js" charset="utf-8"></script>
