<link rel="stylesheet" href="/css/chat/.css">

<div class="opponent">
    <div class="opponent-img">
        <img width="70px" src="/img/user-photo/{{opponent.img}}" alt="">
    </div>
    <div class="opponent-name">
        <span>{{opponent.name.firstName}} {{opponent.name.secondName}}</span>
    </div>
    <div class="online">
        онлайн
    </div>
</div>

<ul class="messages-cont">
    {{#each messages}}
        <li>Date: [{{this.date}}] Time: [{{this.time}}] User: [{{this.userName}}] Text: {{this.text}}</li>
    {{/each}}
</ul>

<form class="messege-form" action="">
    <input id="messege" autocomplete="off" /><button>Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat/chat.js" charset="utf-8"></script>
