<style media="screen">
        form{
            display: flex;
            flex-flow: column;
        }

        form > label{
            display: flex;
            flex-flow: column;
            width: max-content;
            margin-top: 20px;
        }

        form > label *{
            margin-bottom: 10px;
        }

        #file-input{
            display: none;
        }

        .user-img{
            display: flex;
            flex-flow: column;
        }
        .user-img *{
            margin-top: 10px;
        }

        #drop-zone{
            border: 1px dashed;
            padding: 20px 0px;
            text-align: center;
            width: 300px;
        }

        #canvas-user-img{
            display: none;
        }

        .load-info{
            display: none;
        }

</style>

<div class="wrapper">

    <div class="user-img">
        <span>Ваша аватарка</span>
        <img id="img" src="/img/user-photo/{{user.img}}" width="300px" alt="">
        <div id="drop-zone">
            Загрузите новое изображение
        </div>
        <div id="output-zone">
        </div>
        <div class="load-info">
            <div class="progress">
                <progress max="100" value="0" id="progress"></progress>
                <div class="progress-bg"><div class="progress-bar"></div></div>
            </div>
        </div>
    </div>

    <form class="" action="/settings/edit-user" method="post">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="_id" value="{{user._id}}">
        <label>
            <span>Введите e-mail</span>
            <input type="email" name="email" value="{{user.email}}">
        </label>
        <label>
            <span>Введите Имя</span>
            <input type="text" name="firstName" value="{{user.name.firstName}}">
        </label>
        <label>
            <span>Введите Фамилию</span>
            <input type="text" name="secondName" value="{{user.name.secondName}}">
        </label>
        <label>
            <span>Введите Дату рождения</span>
            <input type="date" name="dateBorn" value="{{user.dateBorn}}">
        </label>
        <label>
            <input type="submit" name="" value="Зарегистрироваться">
        </label>
        <label>
            {{error}}
        </label>
    </form>
</div>

<script type="text/javascript" src="/js/settings/editUser.js">

</script>
