<h1>
  Search users
</h1>

<form method="post" action="/search/action">
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  <br> Имя пользователя:<input type="text"  name = "userName">
  <br> Возраст <select name = "age">
      <option disabled selected>Выберите возраст</option>
      {{#each ages}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
 </select>
 <br> <input type="submit" value="Поиск">
</form>

{{#if users}}
  <b>Пользователи:</b>
{{/if}}
{{#each users}}
  <br>Имя {{this.name.firstName}}
  <br>Фамилия {{this.name.secondName}}
  <br><a href="/chat?id={{this._id}}"> Чат с пользователем </a>
{{/each}}
